@font-face {
  font-family: "Katibeh";
  src: url("/fonts/Langar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kaushan";
  src: url("/fonts/KaushanScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.katibeh {
  font-family: "Katibeh";
}

.kaushan {
  font-family: "Kaushan";
}
